* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body {
    min-height: 100%;
    margin: 1rem auto;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff5099;
}

h1 {
    font-size : 2.5rem;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    flex: 0.05;
    margin: 0.5rem 0;
}

h1, h3, h4 {
    font-weight: bold;
}

.container {
    width: 80vw;
    max-width: 1200px;
    min-height: 80vh;
    background: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    font-size: calc(12px + 0.5vw);
}

.colors {
    display: flex;
    width: 100%;
    height: 25%;
    flex: 1;
}

#primary {
    flex: 1;
    border-top-left-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

#primary label {
    height: 20%;
    width: fit-content;
    border-radius: 5px;
    text-align: center;
}

#secondary {
    background-color: hsl(150, 35%, 55%);
    flex: 1;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

#accent {
    flex: 1;
    border-top-right-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

#generate {
    margin: 2rem 0 2rem auto;
    width: fit-content;
    padding: 1rem;
    border-radius: 10px;
    font-size: 24px;
    transition: background-color 1s;
}

#generate:hover {
    cursor: pointer;
}

input {
    visibility: hidden;
    width: 5%;
}
  
  .demo {
    background-color: #fff;
    width: 90%;
    min-height: 50%;
    box-shadow: 2px 2px 15px 3px rgba(0,0,0, 0.25);
    border: 1px solid #ccc;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    flex: 1;
    border-radius: 10px;
  }
  
  .content {
    flex: 0.95;
    display: flex;
    gap: 1rem;
  }

  .text {
    margin-top: 1rem;
    flex: 0.7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

  .text h3, .text p {
      margin-bottom: 1rem;
      text-align: left;
  }

    h3 {
        border-bottom: 1px solid #ccc;
        text-transform: uppercase;
        font-size: 1.5rem;
    }
 
  
  .sidebar {
    flex: 0.25;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
    gap: 1rem;
    border-radius: 1rem;
  }
  
  .img {
    text-align: center;
  }
  
  .icons {
    display: flex;
    justify-content: space-around;
  }
  
  .fa {
    font-size: calc(16px + 0.5vw);
  }
  
  .fa-image {
    font-size: 9vw;
    background-color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .fa:hover {
    opacity: 0.5;
  }
  
  .fa-image:hover {
    color: #000;
    opacity: 1;
  }
  
  .about {
    flex: 0.5;
    text-align: left;
  }
  
  @media (max-width: 950px) {
    .demo {
      flex: 0.75;
    }
    .content {
      flex-direction: column;
    }
    .fa-image {
      font-size: 25vw;
    }
  }